Base/Model/src/model/utilidades/estructuras/acceso/tokenInfo.xsd

<?xml version="1.0" encoding="utf-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="acceso">    <xs:complexType>      <xs:sequence>        <xs:element name="semilla" type="xs:string" />                <xs:element name="usuario" type="xs:string" />        <xs:element name="password" type="xs:string" />        <xs:element name="fechaEmision" type="xs:long" />        <xs:element name="fechaValido" type="xs:long" />        <xs:element name="encriptado" type="xs:boolean" />      </xs:sequence>    </xs:complexType>  </xs:element></xs:schema>